.image {
    width: 400px;
    height: 400px ;  
    margin-top: 30px
  ;
  }

  .Title{
    font-family:monospace;
    font-style: oblique;
    
  } 
  
  
  .red{
    color: rgb(155, 12, 12);
  }


  .video{
    width :320px;
     height :240px;
  }